* {box-sizing: border-box;}

  .header {
    position: relative;
    display: inline-block;
  }

  canvas {
    display: block;
    width: 100vw;
    height: 300px;
    position: relative;
    z-index: 1;
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

  .noCanvas canvas {
    display: none;
  }

  @media (max-width: 600px) {
    canvas {
        height: 80px;  /* Changes the height of the canvas on small screens */
    }
  }

  @keyframes colorChange {
    0% {
      background-color: #ff6347; 
    }
    50% {
      background-color: #32cd32; 
    }
    100% {
      background-color: #1e90ff; 
    }
  }
  /*
  body {
    animation: colorChange 5s infinite; /* 5 seconds, loop infinitely *//*
  }

  body {
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    background-color: #bfdbffee; 
  }*/

  body {
    font-family: "Monomakh", system-ui, sans-serif;
    background-color: #bfdbffee; /* Initial background color */
    animation: colorChange 100s infinite; /* 100 seconds, loop infinitely */
  }

  /* Style the header */
  .header {
    grid-area: header;
    background-color: #69696900;
    padding: 0px;
    text-align: center;
    font-size: 28px;
  }
  

   /* The grid container */
   .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left left middle middle right right' 
      'footer footer footer footer footer footer';
     /*grid-column-gap: 10px;*/
    height: auto;
    object-fit: cover;
    overflow: hidden;
    box-sizing: border-box;
  } 
  .left,
  .middle,
  .right {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
        
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
    text-align: center;
    overflow: hidden;
    background-color: black;
    color:white;
  }
  .left:hover{
    background-color: rgba(255, 255, 255, 0.747);
    color:black;
  }
  
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
    text-align: center;
    overflow: hidden;
    
  }

  .middle:hover{
    background-color: rgb(180, 250, 255);
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
    text-align: center;
    overflow: hidden;
    color: white;
    background-color:#000000;
  }

  .right:hover{
    background-color: white;
    color:black;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width:1401px) {
    .grid-container {
      grid-template-areas: 
          'header'
          'left'
          'middle'
          'right'
          'footer';
      grid-template-rows: auto;
      grid-area:unset; /* All grid items combined into one scrollable zone */
      display: flex;         /* Enables stacking */
      flex-direction: column; /* Aligns grid items vertically */
      overflow-y: auto;      /* Single scrollbar for grid items */
      max-height: 100%;      /* Ensures content doesn't exceed available space */
    }
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.footer {
  display: flex;
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  align-items: center;
  justify-content: space-between; /* Keeps the other items spaced */
  padding: 10px;
  width: 100%;
  position: relative; /* Ensures the h3 can be centered relative to this container */
}

.footer img {
  max-width: 50px;
  height: auto;
}

#f {
  margin: 0;
  text-align: center; /* Centers the text inside h3 */
  position: absolute; /* Take it out of the flow of flexbox */
  left: 50%; /* Move it to the center horizontally */
  transform: translateX(-50%); /* Adjust to ensure it’s perfectly centered */
}

.footer b{
  margin-left: auto;
  text-align:right;
}

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.932);
    background-color: rgba(6, 10, 236, 0.678);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 28%;/* Default value */
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  @media only screen and (max-width:1401px) {
    .overlay-content {
        top: 50%; /* Adjust the top percentage for smaller screens */
    }
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height:450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 12px}
    .overlay .closebtn {
    font-size: 30px;
    top: 8px;
    right: 15px;
    }
    .middle {
      border-left: 3px solid black;
      border-right: 3px solid black;
    }
  }

  @media screen and (max-width:600) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 12px}
    .overlay .closebtn {
    font-size: 30px;
    top: 8px;
    right: 15px;
    }
    .middle {
      border-left: 3px solid black;
      border-right: 3px solid black;
    }
  }
 
  .tooltip {
    position: top;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width:auto;
    background-color:color-mix(in srgb, color percentage, color percentage);


    color: #fff;
    text-align:center;
    vertical-align:center;
    border-radius: 2px;
    padding: 5px 0;
    font-size: 16pt;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%); /* Centers horizontally */
    max-width: calc(100% - 40px); /* 20px padding from left and right */
    
    
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .shake-on-hover:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .image-container {
    position: relative;
    width: 100%; 
    max-width: 467px; /* Keeps image from being too wide */
    margin: auto;
}

    /* Default image size */
  .responsive-img {
    width: 467px;
    height: 467px;
  }

  /* Default image size */
  .responsive-img-small {
    justify-self: center;
    display: flex;            
    margin: auto;             
    align-items: center;      
    justify-content: center;  
    
  }

  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .responsive-img {
        width: 200px;  /* Resize image for small screens */
        height: 200px;
    }
    .responsive-img-small{
        width: 250px;  /* Resize image for small screens */
        height: 100px;
    }
    .middle {
      border-left: 3px solid black;
      border-right: 3px solid black;
    }
  }

  /* Media query for screens larger than 600px but smaller than 1000px */
  @media (min-width: 601px) and (max-width: 1000px) {
    .responsive-img {
        width: 350px;  /* Resize image for medium-sized screens */
        height: 350px;
    }
    .middle {
      border-left: 3px solid black;
      border-right: 3px solid black;
    }
    .shake-on-hover{
      animation-delay: 10s;
      animation-name: shake, none;
      animation-duration: 0.5s, 9.5s;
      animation-iteration-count: 20;
      animation-timing-function: ease-in-out, linear;
    }
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change to contrast the image */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.07); /* Dark transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Mobile Optimization */
@media (max-width: 768px) {
  .overlay-text {
      font-size: 14px; /* Smaller font for smaller screens */
      padding: 15px;
      width: 90%; /* Wider text block for mobile */
  }
  .middle {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  .shake-on-hover{
    animation-delay: 10s;
    animation-name: shake, none;
    animation-duration: 0.5s, 9.5s;
    animation-iteration-count: 20;
    animation-timing-function: ease-in-out, linear;
  }
}

@media (max-width: 480px) {
  .overlay-text {
      font-size: 12px; /* Even smaller text */
      padding: 10px;
      width: 95%;
      background: rgba(0, 0, 0, 0.4);
  }
  .middle {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }

  .shake-on-hover{
    animation-delay: 10s;
    animation-name: shake, none;
    animation-duration: 0.5s, 9.5s;
    animation-iteration-count: 20;
    animation-timing-function: ease-in-out, linear;
  }
}

.timeline {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}